body{
	background-color:#87CEFA;
	position: relative;
    background-image: url(https://i1.wp.com/lilar.com/wp-content/uploads/2016/10/Savin-NY-Website-Background-Web.jpg?ssl=1);
	background-repeat:no-repeat;
	background-size:cover;
}

.all{
	margin-top: 10%;
}

.gambar{
	display: inline-block;
    vertical-align: middle;
}

.nama{
	font-size: 30px;
	font-weight: bold;
}

.about{
	background-color: white;
	opacity: 0.9;
	border-radius: 25px;
	padding: 0px 10px 10px 10px;
}

.header-deskripsi{
	margin-top: 5%;
}

.desc{
	font-align: justify;
	font-size: 100px;
}


