
<!DOCTYPE html>
<html>
	<head>
		<title>Ulhaq</title>
		<link rel="stylesheet" type="text/css" href="/static/css/mystyle.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	</head>
	<body>		 
		<div class="all container" align="center">
			<div class="container" id="gambar">
				<img src="https://pbs.twimg.com/profile_images/1042423648437469185/N0XYJ4W2_400x400.jpg" class="rounded-circle img-fluid" height="27%" width="27%">
			</div>
			<div class="container">
				<div class="nama" border-style:"solid" border-color:"white">
					<div class="nama-lengkap">Muhammad Dhiyaulhaq Nugraha</div>
				</div>
				
				<div class="about">
					<div class="header-deskripsi">
						<h3 align="center" font-family="cursive">Tentang Saya</h3>
					</div>
				
					<div class="deskripsi" align="justify" font-family="cursive">
						{% for i in result %}
							<p style="font-size:16px; align:center;"> {{i.desc}} </p>
							</tr>
						{% endfor %}
					</div>
				</div>
				
			</div>
		</div>
	</body>
	
</html>


